
$info:          rgba(5, 5, 5, 0);
$dark:          #111111;
$navbar-dark-color:                #facd8a;
$primary:                #facd8a;
$carousel-control-opacity:       1;
$carousel-control-hover-opacity:     1;
$carousel-control-width:             10%;


$carousel-indicator-width:           15px;
$carousel-indicator-height:          15px;
$carousel-indicator-active-bg:       #facd8a;

@import "node_modules/bootstrap/scss/bootstrap";
.clients {
    background-image: url(bg-3.jpeg);
    background-attachment: fixed;
    background-size: cover;
}